
*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

section{
	height: 200px;
}
nav ul{
	text-align: center;
}

nav ul li{
display: inline-block;
padding: 10px;
}

nav ul li a{
 text-decoration: none;
 color:aliceblue;
 padding: 10px;
 background-color: deeppink;
}
section{
	height: 500px;
}
#section1{
	background-color: aqua;
}
#section2{
	background-color: coral;
}

h1{
	text-align: center;
	background-color: blueviolet;
	/*margin-bottom: 10px;*/
}

/*:root{
	background-color: teal;
	font-family: Helvetica;
}*/

p {
	background-color:aquamarine;
}

/*:not(p){
	background-color: red;
}*/
 
:target{
	background-color: firebrick !important;
	color:white ;
	padding: 1px;
}